{% load static %}
<html>
  <head>
  </head>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'styles.css' %}" />
    <script
  src="https://code.jquery.com/jquery-3.7.1.js"
  integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
  crossorigin="anonymous"></script>
    <body>
      <nav class="shadow-lg">
        <div class="px-4 mx-auto">
          <div class="flex justify-between">
            <div>
              <!-- website logo -->
              <a class="flex" href="">
                <img
                  class="h-8 w-8"
                  src="{% static 'images/logo.png' %}"
                  alt="logo"
                />
                <span class="font-semibold text-lg text-gray-500 ml-4"
                  >Photo App</span
                >
              </a>
            </div>
            <div class="space-x-1">
              {% if request.user.is_authenticated %}
              <a
                class="py-4 px-2 text-gray-500 font-semibold"
                href="{% url 'feed' %}"
                >Feed</a
              >
              <a
                class="py-4 px-2 text-gray-500 font-semibold"
                href="{% url 'index' %}"
                >My Post</a
              >
              <a
                class="py-4 px-2 text-gray-500 font-semibold"
                href="{% url 'create_post' %}"
                >New Post</a
              >
              <a
                class="py-4 px-2 text-gray-500 font-semibold"
                href="{% url 'edit' %}"
                >Profile</a
              >
              <form action="{% url 'logout' %}" method="post" class="inline">
                {% csrf_token %}
                <button type="submit" class="text-gray-500 font-semibold">
                  Logout
                </button>
              </form>
              {% else %}
              <a
                class="py-4 px-2 text-gray-500 font-semibold"
                href="{% url 'register' %}"
                >Register</a
              >
              <a
                class="py-4 px-2 text-gray-500 font-semibold"
                href="{% url 'login' %}"
                >Login</a
              >
              {%endif%}
            </div>
          </div>
        </div>
      </nav>
      {%block body%}
      {%endblock%}
    </body>
</html>
